@import "./common";
@import "./components/header";
@import "./components/services";
@import "./components/team";
@import "./components/clientsafter";
@import "./components/clientsList";
@import "./components/footer";



footer {
  .footer-top-wrapper{
    .separator{
      border-color: white;
    }
  }
}