@media (max-width: 568px) {



  footer {

    .footer-top-wrapper{

      .footer-top{
        justify-content: center;

        .footer-adress{
          max-width: 120%;
          padding-right: 0;


        }
        .footer-crop{
          max-width: 100%;
          padding: 0 40px;

        }


       .footer-contacts{

         ul {

           justify-content: center;

         }


       }

      }
    }


  }


}