.publications {
  background-color: #F5F5FA;
  padding-top: 50px;
  margin: 0 auto;
  position: relative;

  .publications-subcategory{
    color: #24A3FF;
  }
  .publications-title{
  background: -webkit-linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  }


  .publications-grid {
    margin-top: 30px;


    .publications-item {
      background-color: white;
      border-radius: 12px;
      margin-bottom: 50px;

      .public-item-image {
        border-top-left-radius:12px;
        border-top-right-radius: 12px;

        img {
          max-width: 100%;
        }

      }

      .publications-item-wrapper{
        padding: 20px 20px 20px 20px;



      .public-item-title {
        color: #24A3FF;;

      }

      .public-item-date {
        color: #E6E6F0;
        font-size: 12px;
        font-weight: 700;
        padding-top: 10px;
        padding-bottom: 20px;

      }

      .public-item-line {
        border: solid 2px #E6E6F0;

      }

      .public-item-content {
        padding-top: 20px;

      }


    }
  }

    button {
      color: white;
      background-color: #24A3FF;
      border: none;
      border-radius: 12px;
      height: 50px;
      max-width: 250px;
      position: absolute;
      bottom: 170px;
      z-index: 1;

    }



    .gradient {

      position: absolute;
      bottom: 0;
      background: linear-gradient(to bottom, rgba(255, 255, 255, 0), white 60%);
      width: 100%;
      height: 250px;
      opacity: 1;
      transition: 0.3s;
      left: 0;
    }

  }




}