.team-clients {

  background: white;



  .team {

    margin-top: 50px;


    #carouselExampleIndicators {

      margin-bottom: 200px;

      .carousel-indicators{

        bottom: -55px;
      }

      .carousel-inner{

        background: #F5F5FA;
        border-radius: 12px;


        .carousel-item {
          display: flex;

          .carousel-item-image{

          }

          .carousel-item-info{
            margin: 60px 40px 0 60px;
            max-width: 827px;

            nav {

              .breadcrumb {

                li {
                  color: #24A3FF;
                ;

                }
              }
            }



            .carousel-item-title {
                padding-bottom: 20px;
              h3 {

                background: -webkit-linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
              }

            }

            .carousel-item-sub-title{
              color: #B3B3BA;


            }

            .carousel-item-sub-sub-title{

              color: #B3B3BA;



            }

          }




        }



      }


    }





  }
  .clients {

    border-radius: 12px;


    .clients-title{
      background: #F5F5FA;
      max-width: 433px;
      padding: 20px 0 20px 20px;
      h5{
        font-size: 14px;
      }


    }


  }




}