
@media (max-width: 335px) {


  .team-clients{

    .clients {

      #carouselExampleIndicators{


        .carousel-inner {

          .carousel-item {

            .carousel-item-image {
              align-self: flex-end;
              padding-right: 10px;
              img {
                border-radius: 40% 40% ;
              }
            }

            .carousel-item-info {

              margin: 0;
            }


          }



        }


      }


    }


  }




}


