.contact {
  padding: 200px 0 100px 0;
  display: flex;
    .separator{
    border: 4px solid #E6E6F0;
    margin: 20px 0 20px 0;
  }

    .contact-adress{
      padding-bottom: 40px;
      align-self: center;
    .adress-item{
      color: #323264;
      font-weight: 400;
      font-size: 21px;

    }
      .contacts-items{
       .contact-phone{
        a {
          text-decoration: none;
          font-size: 21px;
          color: #46466E;
          &:hover {
            color: #F0145A;
          }

        }
       }

       .contact-mail {
         padding-top: 20px;
        a {
          text-decoration: none;
          color: #24A3FF;
          font-size: 21px;
          font-weight: 400;
          &:hover {
            color: #F0145A;
          }
        }
       }
     }
     .social{
       display: flex;
      a {
        text-decoration: none;
        padding-left: 10px;
        font-size: 12px;
        color: #24A3FF;
        letter-spacing: 1px;
        font-weight: 400;
        &:hover {
          color: #F0145A;
        }
      }
     }
   }

     .contact-form{
       align-self: center;
       background-color: #F5F5FA;
       border-radius: 12px;
       .contact-form_wrapper{
         padding: 20px;

          h3 {
            font-size: 32px;
            background: -webkit-linear-gradient(
                            90.13deg, #F0145A 0.84%, #EF8080 99.96%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            padding-bottom: 10px;
          }



         form {
           label {
             width: 100%;
             input {
               width: 100%;
               padding: 10px;
               border-radius: 8px;
               outline: none;
               border: none;
               font-size: 18px;
               color:  #B3B3BA;
               margin-bottom: 20px;
             }
             textarea {
               width: 100%;
               padding: 10px;
               border-radius: 8px;
               outline: none;
               border: none;
               font-size: 18px;
               color:  #B3B3BA;
               resize: none;
               height: 180px;
               margin-bottom: 20px;

             }
           }

           .submit {
             display: flex;
             justify-content: center;
             button {

               color: white;
               background-color: #24A3FF;
               border: none;
               border-radius: 12px;
               height: 50px;
               width: 250px;
               box-shadow: 0 0 20px rgba(36, 163, 255, 0.5);
               font-size: 14px;

             }
           }


         }
       }

  }

}

.map {
.container-fluid{
  padding: 0;
  iframe {
    width:100%;
   height: 600px;
  }
}

}





