 .splash {
  padding-top: 200px;

  background: linear-gradient(42.01deg, #323264 14.33%, #323264 51.39%, #7A425E 87.53%);



  .splash-bg-frame {


   background-repeat: no-repeat;
   background-image: url("./../img/frame.png");
   background-position: center;
   background-size: contain;
   text-align: center;
   color: white;

    .splash-text {

     margin: 100px auto 200px auto;
     max-width: 350px;

      h4 {

      }


    }

    .splash-scroll {

        a {
          img {
            margin: 0 auto;
            width: 42px;
            height: 42px;
          }

        }

    }

  }




 }