@media (max-width: 576px) {

  header {

    .header-top-wrapper {
      justify-content: center;
      align-items: center;

      .header-top {

  ul {

      li {


        .nav-adress {

          display: none;
        }
        .nav-social {
          display: none;
        }


      }


  }



}


    }


    .navbar-light {


      .red-slash{

      }

      .page-tittle{


      }

      .navbar-brand{
        .logo-main{
         width: 90px;
        }
        .slash{
          width: 13px;
        }
        .page-tittle{
          font-size: 20px;
        }
        .logo-pages{
          width: 21px;
        }
      }





    }


  }

}