header {
  padding-top: 50px;
  width: 100%;
  background-color: transparent;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;


  .header-top-wrapper{
    display: flex;
    justify-content: flex-end;
    align-items: center;



    .header-top{

      color: white;

      ul {
        display: flex;
        list-style: none;
        padding-left: 0;
        margin: 0;

        li {
         margin: 0 5px ;
          .nav-lng {

            ul {

              li {

                margin: 0 5px 0 0;

                a {

                  font-size: 12px;
                  display: inline-block;
                  text-decoration: none;
                  color: white;
                  background-color: transparent;
                  border-radius: 8px;
                  padding: 5px 7px;

                  }

                &:hover {
                  display: inline-block;
                  text-decoration: none;
                  transition: .3s;
                  background-color:#F0145A;
                  border-radius: 8px;

                }

              }




            }



          }



        }


      }




    }
  }


  nav {
    padding: 0;
    background-color: transparent;

    #navbarSupportedContent {

      ul {

        li {

          a {
            color: white;

            &:hover {
              color:#F0145A;
              transition: .3s;
            }

          }



        }
      }

    }

    #navbarSupportedContent.justify-content-end.navbar-collapse.collapse.show{

      ul {

        li {

          a {
            color: white;
            background: #24A3FF;

          }



        }
      }


    }






  }

  .navbar-light {


    .red-slash{
      font-size: 32px;
      color: #F0145A;
    }

    .page-tittle{
      font-size: 32px;
      color: white;
      font-weight: 400;

    }

    .navbar-brand{
      padding: 0;
      margin: 0;

     .logo-main{

      }
      .slash{
        width: 22px;
      }
      .logo-pages{
        width: 41px;
      }

      img {
        width: 152px;
        height: 62px;

      }


    }



    .navbar-toggler {

     border-color: transparent;

    }


  }







}