@media (max-width: 576px) {

  header {

    .header-top-wrapper {
      justify-content: center;
      align-items: center;

.header-top {

  ul {

      li {


        .nav-adress {

          display: none;
        }
        .nav-social {
          display: none;
        }


      }


  }



}


    }


  }

}